{% extends "base.html" %}

{% block content %}
{%load static%}
    <div>
        <h4>{{ projektas.pavadinimas }}</h4>

        {% if projektas.cover %}
          <img src="{{ projektas.cover.url }}" style="width: 300px; height:300px" class="card-img-top" alt="...">
        {% else %}
          <img src="{% static '/img/noimg.png' %}" class="card-img-top" style="width: 300px; height:300px">
        {% endif %}
        <h6>Klientas: {{projektas.klientas}}</h6>
        <h6>Projekto vadovas: {{projektas.vadovas}}</h6>
        <h6>Projekto pradžia: {{projektas.pradzios_data}} </h6>
        <h6>Numatyta projekto pabaiga: {{projektas.pabaigos_data}}</h6>
        {% if projektas.aprasymas %}
        <br>
        <h6>Aprašymas:</h6><p>{{ projektas.aprasymas | safe }}</p>
        {% endif %}
        </br>
        <h6>Darbuotojai:</h6>
        {% for darbuotojas in projektas.darbuotojai.all %}
        <ul>
            <li><strong>{{darbuotojas.vardas}} {{darbuotojas.pavarde}}</strong> {{darbuotojas.pareigos}}</li>
        </ul>
        {% endfor %}
        <br>
        <h6>Sąskaitos:</h6>
        {% for saskaita in sask.all %}
        <ul>
            <li>Išrašymo data: {{saskaita.israsymo_data}} Suma: {{saskaita.suma}}</li>

        </ul>
        {% endfor %}

        <h6>Darbai:</h6>
        {% for darbas in projektas.darbai.all %}
        <ul>
            <li><strong>{{darbas.pavadinimas}}</strong> Būsena: <p style="display: inline-block" class="{% if copy.status == 'a' %}text-success{% else %}text-warning{% endif %}">{{darbas.get_status_display}}</p></li>
            {% if darbas.pastabos %}
            <p>Pastabos: {{darbas.pastabos}}</p>
            {% else %}
            <p>Pastabų nėra</p>
            {% endif %}
        </ul>
        {% endfor %}


    </div>
{% endblock %}