{% extends "base.html" %}

{% block content %}
{%load static%}
    <h1>Mano projektai</h1>

     {% if projektas_list %}
    <div class="row">
      {% for proj in projektas_list %}
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            {% if proj.cover %}
              <img src="{{ proj.cover.url }}" class="card-img-top" alt="..." style="width: 300px; height:300px">
            {% else %}
              <img src="{% static '/img/noimg.png' %}" class="card-img-top" style="width: 300px; height:300px">
            {% endif %}
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text"><a href="{% url 'project-detail' proj.pk %}">{{ proj.pavadinimas }}</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>Projektų nėra.</p>
    {% endif %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}
        {% if page_obj %}
        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}